* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    /* THEME COLOR */
    --white-color: #eee;
    --black-color: #000;
    --gray-color-1: #555;
    --green-color-1: #282;

    --main-color: greenyellow;
    --afbe-cicle-color: var(--green-color-1);
    --main-bgr-color: var(--black-color);

    --text-color: var(--white-color);
    --right-bgr-color: var(--white-color);
    --left-bgr-color: var(--gray-color-1);

    --line-color: var(--main-color);
    --title-color: var(--main-color);
    --afbe-shadow-color: var(--main-color);
    --afbe-vertical-line-color: var(--main-color);

    /* IMAGES */
    --li-imgs-phone: url("./img/smartphone-svgrepo-com.png");
    --li-imgs-email: url("./img/email-9-svgrepo-com.png");
    --li-imgs-colombia: url("./img/flag-for-colombia-svgrepo-com.png");
    --li-imgs-usa: url("./img/flag-for-us-outlying-islands-svgrepo-com.png");

    /* SIZE ADJUST  */
    --content-font-size: 15px;
    --title-font-size: 20px;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding: 100px 0 100px 0;

}


main {
    display: flex;
    max-width: 210mm;
    border: 2px solid black;
    max-height: 297mm;
    /* padding: 1.6cm 2.54cm 1.52cm 2.54cm; */
    justify-self: center;
    font-size: var(--content-font-size);

}

h1,
h2 {
    font-size: var(--title-font-size);
}

/* ------------------------------- */
/* --------RIGHT CONTAINER--------- */
/* ------------------------------- */

.right-container {
    display: flex;
    flex-direction: column;
    width: 35%;
    min-height: 100%;
    background-color: var(--left-bgr-color);
    padding: 25px 20px;
    color: var(--text-color);
    gap: 30px;
}

.photo {
    overflow: hidden;
}

.photo img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

li {
    list-style: none;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
}

.right-container ul {
    overflow: hidden;

}

/* li icons format  */

.right-container li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 20px;
    height: 20px;

    background-image: var(--li-imgs-phone);
    background-size: contain;
    background-repeat: no-repeat;
}

.contacts>ul>li:nth-child(2)::before {
    background-image: var(--li-imgs-email);
}

.lang:nth-child(1)::before {
    background-image: var(--li-imgs-colombia);
}

.lang:nth-child(2)::before {
    background-image: var(--li-imgs-usa);
}

.rc .sect-title {
    color: var(--title-color);
}

.name-title {
    display: flex;
    width: fit-content;
    align-self: center;
}

.aspirant-name {
    justify-self: center;
}

.photo {
    background: var(--main-bgr-color);
    height: 230px;
    border-radius: 100%;
}


.contacts {}

.underline {
    border-bottom: 3px solid var(--line-color);
}

.sec-list {
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 30px;
}

.soft-skills-container{
    padding-bottom: 15px;
}

#email_adress{
    min-width: 100px;
    overflow-wrap: break-word;
}

/* ------------------------------- */
/* --------LEFT CONTAINER--------- */
/* ------------------------------- */

.left-container {
    display: flex;
    flex-direction: column;
    width: 65%;
    background-color: var(--right-bgr-color);
    justify-content: space-evenly;
    /* align-items: center; */
    padding: 30px 20px 30px 20px;
    padding: 30px;
}

/* BEFORE AND AFTER ORNAMENT */

.ornament-after::after {
    border-left: 2px solid var(--afbe-vertical-line-color);
    position: absolute;
    content: '';
    left: 5px;
    top: 19px;
    height: 100%;
}

.ornament-before::before {
    position: absolute;
    display: inline-block;
    content: "";
    background-color: var(--afbe-cicle-color);
    box-shadow: 0 0 0 6px var(--afbe-shadow-color);
    border-radius: 50%;
    padding: 6px;
    left: 0px;
    top: 0px;
    margin-top: 10px;
    z-index: 9;

}



/* --------------------------- */
/* ABOUT ME */
/* --------------------------- */
.about-content {}

.sect-title {
    padding: 15px 0;
}


.name-title {}

.formation-content {
    position: relative;


}

.parraf {}


/* --------------------------- */
/* EXPIRIENCES SECTION */
/* --------------------------- */

.expirience-section {
    position: relative;
}

.expirience-list {
    display: flex;
    flex-direction: column;

}


/* --------------------------- */
/* SUMMARY CARD STYLE */
/* --------------------------- */
.card-text {
    display: flex;
    align-items: center;
}

.summary-card-details {
    padding-top: 5px;
    align-content: space-between;
}

.summary-card-details .card-text {
    padding-bottom: 3px;
    gap: 10px;
}

/* --------------------------- */
/* FORMATION SECTION */
/* --------------------------- */


/* --------------------------- */
/* SKILLS CONTAINER */
/* --------------------------- */

.skills-content {
    display: flex;
    padding: 10px 0px;
    flex-flow: wrap;
    overflow: hidden;
}



/* --------------------------- */
/*WORK SKILLS TAGS CONTAINER */
/* --------------------------- */
.work-skills {
    overflow: hidden;

}

.work-skills-container {
    display: flex;
    flex-wrap: wrap;
}

.work-skills-container>button {
    border: 2px solid var(--green-color-1);
    background-color: transparent;
    border-radius: 20px;
    padding: 5px 10px;
    color: var(--black-color);
}

/* --------------------------- */
/* GENERAL STYLES*/
/* --------------------------- */

.add-link-style {
    list-style: none;
    padding-top: 5px;
}

.tag {
    border: 2px solid var(--green-color-1);
    width: fit-content;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 3px;

}

.tag:hover {
    cursor: pointer;
}

.add-tag-button {

    border: 2px solid var(--green-color-1);
    background-color: transparent;
    border-radius: 20px;
    padding: 5px 10px;
    color: var(--black-color);
    cursor: pointer;
}

.modal-btn-soft{
    color: var(--white-color);
}

/* TOGGLE LANGUAGE */

#toggle_language {
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 100;
}

#lang-items {
    width: 60px;
    height: 60px;
    background-color: var(--gray-color-1);
    color: var(--white-color);
    border: 2px solid var(--green-color-1);
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    text-align-last: center;
    /* Centra el texto seleccionado */
    appearance: none;
    /* Oculta la flecha por defecto */
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#lang-items:hover {
    background-color: var(--green-color-1);
    color: var(--black-color);
    transform: scale(1.1);
    box-shadow: 0 6px 15px rgba(40, 136, 34, 0.4);
}

/* Opciones desplegables */
#lang-items option {
    background-color: var(--gray-color-1);
    color: var(--white-color);
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

/* printt sectionn */

#print-button:hover {
    transform: scale(1.1);
    color: var(--black-color);
    background-color: var(--green-color-1);
    border: none;
    box-shadow: 0 6px 15px rgba(40, 136, 34, 0.4);

}

/*temporaly disabled*/
#print-button {
    display: flex;
    transition: all 0.3s ease;
    position: absolute;
    top: 45px;
    right: 20px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--gray-color-1);
    color: var(--white-color);
    border: 2px solid var(--green-color-1);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

}

 /* MODAL ADD SKILLS */

.text-field{
    border: 2px solid var(--green-color-1);
    border-radius: 10px;
}
#add-skills-modal{
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    border: 2px solid var(--green-color-1);
    border-radius: 10px;
    background-color: var(--white-color);
    z-index: 200;
}

#add-skills-modal::backdrop{
    background-color: rgba(0,0,0,.55)
}

.modal-content{
    display: flex;
    flex-direction: column;
    color: var(--black-color);
    gap: 12px;
    width: 100%;
}
#skill-input{
    border: 2px solid var(--green-color-1);
    border-radius: 20px; 
    padding:3px;
}


/* PRINT CONFIG HANDLE */

@page {
    size: a4;
    margin: 0;
}

@media print {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
        box-sizing: border-box;

    }

    body {
        margin: 0;
        padding: 0;

    }

    main {
        box-shadow: none;
        margin: 0;
        width: 210mm;
        height: 297mm;

    }

    .right-container,
    .left-container {
        break-inside: avoid;
        min-height: 100%;
        /* padding: 0; */
    }

    #print-button,
    #toggle_language,
    .add-tag-button,
    .add-link-style {
        display: none !important;
    }

    .summary-card-details.summary-card-last.ornament-after::after {
        display: none !important;
        border: none !important;
        height: 0 !important;
        content: '' !important;
    }
}

